# Data: Deriving Quantities

*Purpose*: Often our data will not tell us *directly* what we want to know; in
these cases we need to *derive* new quantities from our data. In this exercise,
we'll work with `mutate()` to create new columns by operating on existing
variables, and use `group_by()` with `summarize()` to compute aggregate
statistics (summaries!) of our data.

*Reading*: [Derive Information with dplyr](https://rstudio.cloud/learn/primers/2.3)
*Topics*: (All topics, except *Challenges*)
*Reading Time*: ~60 minutes

*Note*: I'm considering splitting this exercise into two parts; I welcome
feedback on this idea.

## Setup

In [134]:
import grama as gr
import pandas as pd
DF = gr.Intention()
%matplotlib inline

We'll be using the `diamonds` as seen in `e-vis00-basics` earlier.

In [135]:
from grama.data import df_diamonds
df_diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

## Summarize Data

| Type | Functions |
| ---- | --------- |
| Location | `gr.mean(x), gr.median(x), gr.mean_lo, gr.mean_up, gr.min(x), gr.max(x)` |
| Spread | `gr.sd(x), gr.var(x), gr.IQR(x), mad(x)` |
| Position | `first(x), nth(x, n), last(x)` |
| Counts | `gr.n_distinct(x), gr.n()` |
| Logical | `sum(!is.na(x)), mean(y == 0)` |

**TODO:** Add grama & pandas equivalents to all listed functions

### __q1__ Use `summarize()` with a logical function

Using `summarize()` and a logical summary function, determine the number of rows with `Ideal` type of `cut`. Save this value to a column called `n_ideal`.

In [136]:
# TASK: Determine the number of obsevations with an 'Ideal' diamond 'cut.' Assign this value as 'n_ideal'

# df_q1 = (
#     df_diamonds
#     >> gr.tf_summarize(
#         n_ideal=gr.sum(DF.cut == "Ideal")
#     )
# )

df_q1 = (
    df_diamonds
    >> gr.tf_filter(DF.cut == "Ideal")
    >> gr.tf_summarize(n_ideal=gr.n(DF.cut))
)

df_q1

   n_ideal
0    21551

### __q2__ The function `group_by()` modifies how other dplyr verbs function. Uncomment the `group_by()` below, and describe how the result changes.

In [137]:
df_q2 = (
    df_diamonds
    >> gr.tf_group_by(DF["color"],DF["clarity"])
    >> gr.tf_summarize(group_mean=gr.mean(DF["price"]))
)

df_q2

   clarity color   group_mean
0       I1     D  3863.023810
1       IF     D  8307.369863
2      SI1     D  2976.146423
3      SI2     D  3931.101460
4      VS1     D  3030.158865
5      VS2     D  2587.225692
6     VVS1     D  2947.912698
7     VVS2     D  3351.128391
8       I1     E  3488.421569
9       IF     E  3668.506329
10     SI1     E  3161.838005
11     SI2     E  4173.826036
12     VS1     E  2856.294301
13     VS2     E  2750.941700
14    VVS1     E  2219.820122
15    VVS2     E  2499.674067
16      I1     F  3342.181818
17      IF     F  2750.836364
18     SI1     F  3714.225716
19     SI2     F  4472.625233
20     VS1     F  3796.717742
21     VS2     F  3756.795093
22    VVS1     F  2804.276567
23    VVS2     F  3475.512821
24      I1     G  3545.693333
25      IF     G  2558.033774
26     SI1     G  3774.787449
27     SI2     G  5021.684109
28     VS1     G  4131.362197
29     VS2     G  4416.256498
30    VVS1     G  2866.820821
31    VVS2     G  3845.283437
32      I1     H  4453.413580
33      IF     H  2287.869565
34     SI1     H  5032.414945
35     SI2     H  6099.895074
36     VS1     H  3780.688623
37     VS2     H  4722.414486
38    VVS1     H  1845.658120
39    VVS2     H  2649.067434
40      I1     I  4302.184783
41      IF     I  1994.937063
42     SI1     I  5355.019663
43     SI2     I  7002.649123
44     VS1     I  4633.183992
45     VS2     I  5690.505560
46    VVS1     I  2034.861972
47    VVS2     I  2968.232877
48      I1     J  5254.060000
49      IF     J  3363.882353
50     SI1     J  5186.048000
51     SI2     J  6520.958246
52     VS1     J  4884.461255
53     VS2     J  5311.058824
54    VVS1     J  4034.175676
55    VVS2     J  5142.396947

### Vectorized Functions

| Type | Functions |
| ---- | --------- |
| Arithmetic ops. | `+, -, *, /, ^` |
| Modular arith. | `%/%, %%` |
| Logical comp. | `<, <=, >, >=, !=, ==` |
| Logarithms | `log(x), log2(x), log10(x)` |
| Offsets | `lead(x), lag(x)` |
| Cumulants | `cumsum(x), cumprod(x), cummin(x), cummax(x), cummean(x)` |
| Ranking | `min_rank(x), row_number(x), dense_rank(x), percent_rank(x), cume_dist(x), ntile(x)` |

### __q4__ Comment on why the difference is so large.

The `depth` variable is supposedly computed via `depth_computed = 100 * 2 * z /
(x + y)`. Compute `diff = depth - depth_computed`: This is a measure of
discrepancy between the given and computed depth. Additionally, compute the
*coefficient of variation* `cov = sd(x) / mean(x)` for both `depth` and `diff`:
This is a dimensionless measure of variation in a variable. Assign the resulting
tibble to `df_q4`, and assign the appropriate values to `cov_depth` and
`cov_diff`. Comment on the relative values of `cov_depth` and `cov_diff`; why is
`cov_diff` so large?

*Note*: Confusingly, the documentation for `diamonds` leaves out the factor of `100` in the computation of `depth`.

In [138]:
# task-begin
## TODO: Compute the `cov_depth` and `cov_diff` and assign the result to df_q4
# df_q3 <-
#   diamonds
# task-end
# solution-begin
df_q3 <-
  diamonds %>%
  mutate(
    depth_computed = 100 * 2 * z / (x + y),
    diff = depth - depth_computed
  ) %>%
  summarize(
    depth_mean = mean(depth, na.rm = TRUE),
    depth_sd = sd(depth, na.rm = TRUE),
    cov_depth = depth_sd / depth_mean,
    diff_mean = mean(diff, na.rm = TRUE),
    diff_sd = sd(diff, na.rm = TRUE),
    cov_diff = diff_sd / diff_mean,
    c_diff = IQR(diff, na.rm = TRUE) / median(diff, na.rm = TRUE)
  )
# solution-end

SyntaxError: invalid syntax (1356783995.py, line 7)

In [146]:
df_q3 = (
    df_diamonds 
    >> gr.tf_mutate(depth_computed=100 * 2 * DF.z / (DF.x + DF.y))
    >> gr.tf_mutate(diff = DF.depth - DF.depth_computed)
     >> gr.tf_summarize(
         depth_mean=gr.mean(DF.depth),
         depth_sd=gr.sd(DF.depth),
       # diff_mean=gr.mean(DF.diff),
       #  diff_sd=gr.sd(DF.diff)
    )
 #   >> gr.tf_summarize(cov_depth=DF.depth_mean / DF.depth_sd, cov_diff=DF.diff_mean / DF.diff_sd)
)

# df_q3 = (
#     df_diamonds 
#     >> gr.tf_mutate(
#         depth_computed=100 * 2 * DF.z / (DF.x + DF.y,
#         diff = DF.depth - DF.depth_computed,
#     )
# )

df_q3

#Can't do two mutate calls in one line? More likely I'm doing something wrong

   depth_mean  depth_sd
0   61.749405  1.432621

**Observation**

<!-- task-begin -->
- Comment on the relative values of `cov_depth` and `cov_diff`.
- Why is `cov_diff` so large?
<!-- task-end -->
<!-- solution-begin -->
- `cov_depth` is tiny; there's not much variation in the depth, compared to its scale.
- `cov_diff` is enormous! This is because the mean difference between `depth` and `depth_computed` is small, which causes the `cov` to blow up.
<!-- solution-end -->

### __q5__ Compute and observe

Compute the `price_mean = mean(price)`, `price_sd = sd(price)`, and `price_cov =
price_sd / price_mean` for each `cut` of diamond. What observations can you make
about the various cuts? Do those observations match your expectations?

In [ ]:
# TASK: 

# solution-begin
df_q5 <-
  diamonds %>%
  group_by(cut) %>%
  summarize(
    price_mean = mean(price),
    price_sd = sd(price),
    price_cov = price_sd / price_mean
  )
# solution-end

In [150]:
df_q5=(
    df_diamonds
    >> gr.tf_group_by(DF.cut)
    >> gr.tf_summarize(
        price_mean=gr.mean(DF.price),
        price_sd=gr.sd(DF.price),
   #     price_cov=DF.price_sd/DF.price_mean
    )
)

df_q5

         cut   price_mean     price_sd
0       Fair  4358.757764  3560.386612
1       Good  3928.864452  3681.589584
2      Ideal  3457.541970  3808.401172
3    Premium  4584.257704  4349.204961
4  Very Good  3981.759891  3935.862161

*Observations*
<!-- task-begin -->
- Write your observations here!

<!-- task-end -->
<!-- solution-begin -->

- I would expect the `Ideal` diamonds to have the highest price, but that's not the case!
- The `COV` for each cut is very large, on the order of 80 to 110 percent! To me, this implies that the other variables `clarity, carat, color` account for a large portion of the diamond price.
<!-- solution-end -->